body{
    background: whitesmoke;
}

.dino{
    width: 60px;
    height: 60px;
    background-image: url(dino1.png);
    background-repeat: no-repeat;
    position: absolute; /* fica na posição independente do que está a volta*/
    bottom: 0px;
}   

.cactus{
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    background-image: url(cacto.png);

}
.game-over{
    margin-top: 50px;
    font-family: fantasy;
    text-align: center;
    color: red;
}

@keyframes slideright{
    from{
        background-position: 70000%;
    }
    to{
        background-position: 0;
    }
}

@-webkit-keyframes slideright{
    from{
        background-position: 70000%;
    }
    to{
        background-position: 0;
    }
}

.background{
    position: absolute;
    width: 100%;
    height: 200px;
    bottom: 0;
    background-image: url(background.png);
    background-repeat: repeat-x;
    -webkit-animation: slideright 600s infinite linear;
    animation: slideright 600s infinite linear;
    
}